.blanc {
  font-family: "Inter";

  --bg: white;
  --fg: black;

  --sidebar-bg: #eee;
  --sidebar-fg: black;
  --sidebar-non-existant: #888;
  --sidebar-active: black;

  --table-border-color: none;
  --table-header-bg: #ccc;
  --table-alternate-bg: #ccc;
  /* TODO: rest */
}

.blanc a {
  text-decoration-line: underline;
}

.blanc .chapter li a.active {
  font-style: italic;
}

.blanc .chapter li:not(:has(a)) {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}
